<a href="https://colab.research.google.com/github/wellaboriol/CPEN65-2/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Length of the Array
animals = ["monkey", "dog", "fish", "cat", "birds"]
v = len(animals)
print(v)

5

In [2]:
#Looping Array Elements
animals = ["monkey", "dog", "fish", "cat", "birds"]
for x in animals:
  print(x)

monkey
dog
fish
cat
birds

In [3]:
animals = ["monkey", "dog", "fish", "cat", "birds"]
for index, val in enumerate(animals):
  print(index,val)

0 monkey
1 dog
2 fish
3 cat
4 birds

In [5]:
#Adding Elements in the Array
animals = ["monkey", "dog", "fish", "cat", "birds"]
animals.append("lion")
print(animals)

['monkey', 'dog', 'fish', 'cat', 'birds', 'lion']

In [6]:
#Write a Python program to insert a new item ("11") before the second element in an existing array. 
#Original Array: numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.insert(1,11)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
#Removing element/s in a Array
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
animals.pop(1)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]